.btn {
    border-width: 0;
    border-radius: 7px;
    font-weight: 600;
    font-size: 20px;
}

// Button primary
.btn-primary {
    background: url('../img/bg-btn-primary.svg') repeat-x left top/auto 100%;
    border-width: 0;
}

// Button light
.btn-light {
    border-width: 0;
    background: url('../img/bg-btn-light.svg') repeat-x left top/auto 100%;
}